.all {
    font-family: 'Montserrat', sans-serif;
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}
.backButton {
    position: absolute;
    left: 5%;
    top: 5%;
    font-size: 400%;
    color: rgb(27, 27, 27);
    text-decoration: none;
    transition: 0.2s linear;
    &:hover {
        cursor: pointer;
        color: white;
    }
}
.bandcamp {
    width: 4em;
    height: 4em;
    color: rgb(32, 226, 113);
    transition: 0.1s ease-in;
    &:hover {
        transform: translateY(-1em);
        filter: drop-shadow(0 0 .2em rgb(102, 228, 140));
    }
}
.description {
    margin: 0;
    height: 100%;
    width: 100%;
    line-height: 160%;
    font-weight: 400;
    font-size: 170%;
}
.description::first-letter {
    font-size: 200%;
    color: #FA9314;
    text-shadow: 3px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}
.facebook {
    color: rgb(32, 226, 113);
    width: 4em;
    height: 4em;
    transition: 0.1s ease-in;
    &:hover {
        transform: translateY(-1em);
        filter: drop-shadow(0 0 .2em rgb(102, 228, 140));
    }
}
.instagram {
    width: 4em;
    height: 4em;
    color: rgb(32, 226, 113);
    transition: 0.1s ease-in;
    &:hover {
        transform: translateY(-1em);
        filter: drop-shadow(0 0 .2em rgb(102, 228, 140));
    }
}
.leftColumn {
    margin: 1em;
    width: 50%;
}
.name {
    padding: 0.4em;
    margin: 0;
    font-size: 5em;
    text-align: center;
    background-color: #FA9314;
    color: white;
    text-shadow: 3px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;

}
.picture {
    width: 100%;
    border-bottom: #FA9314 4px solid;
    box-shadow: 5px 5px 10px;
}
.pictureContainer {
    margin: 2%;
    width: 40%;
}
.main {
    display: flex;
    align-items: center;
    background-color: white;
}
.rightColumn {
    margin: 1em;
    width: 50%;
}
.socialSection {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
    background-color: white;
    padding: 2%;
}
.socialMediaTitle {
    width: 100%;
    text-align: center;
    font-size: 280%;
    font-weight: 800;
}
.socialMediaContainer {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding: .25%;
}
.songSection {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 3%;
    width: 100%;
    background-color: rgb(27, 27, 27);
}
.soundcloud {
    width: 4em;
    height: 4em;
    color: rgb(32, 226, 113);
    transition: 0.1s ease-in;
    &:hover {
        transform: translateY(-1em);
        filter: drop-shadow(0 0 .2em rgb(102, 228, 140));
    }
}
.soundcloudContainer {
    width: 60%;
    margin: auto;
}
.twitter {
    width: 4em;
    height: 4em;
    color: rgb(32, 226, 113);
    transition: 0.1s ease-in;
    &:hover {
        transform: translateY(-1em);
        filter: drop-shadow(0 0 .2em rgb(102, 228, 140));
    }
}
.vimeo {
    width: 4em;
    height: 4em;
    color: rgb(32, 226, 113); 
    transition: 0.1s ease-in;
    &:hover {
        transform: translateY(-1em);
        filter: drop-shadow(0 0 .2em rgb(102, 228, 140));
    } 
}
.website {
    width: 4em;
    height: 4em;
    color: rgb(27, 27, 27);
    transition: 0.1s ease-in;
    &:hover {
        transform: translateY(-1em);
    }   
}
.youtube {
    width: 4em;
    height: 4em;
    color:rgb(32, 226, 113);
    transition: 0.1s ease-in;
    &:hover {
        transform: translateY(-1em);
        filter: drop-shadow(0 0 .2em rgb(102, 228, 140));
    }
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Console tools */
@media screen and (max-width: 1000px) {
    .iframe {
        width: 50%;
        height: 600;
    }
    .main {
        display: flex;
        flex-direction: column;
    }
    .pictureContainer {
        width: 70%;
    }
}
/* iPhone X */
@media only screen 
    and (device-width : 375px) 
    and (device-height : 812px) 
    and (-webkit-device-pixel-ratio : 3) { 
        .all {
            max-width: 100vw;
        }
        .pictureContainer {
            width: 90%;
        }
        .backButton {
            position: absolute;
            left: 2%;
            top: 1%;
            font-size: 300%;
        }
        .rightColumn {
            width: 80%;
        }
    }