.backButton {
    position: absolute;
    left: 5%;
    top: 4.5%;

    font-size: 400%;
    color: rgb(27, 27, 27);

    text-decoration: none;
    &:hover {
        cursor: pointer;
        box-shadow: 0 0 20px white;
    }
}
.description {
    margin: 0;
    height: 100%;
    width: 100%;

    line-height: 160%;
    font-weight: 400;
    font-size: 170%;
}
.description::first-letter {
    font-size: 200%;
    color: #FA9314;
    text-shadow: 3px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}
.facebook {
    color: rgb(55, 101, 163);
    width: 4em;
    height: 4em;
}
.genres {
    font-size: 1.2em;
    text-align: center;
}
.genresContainer {
    padding: 1em;
    background-color: white;
}
.genreSongContainer {
    display: flex;
    justify-content: space-around;
}
.genreTitle {
    margin: 0.4em;
    
    font-size: 1.8em;
    text-align: center;
}
.instagram {
    width: 4em;
    height: 4em;
    color: rgb(214, 42, 118);
}
.leftColumn {
    margin: 1em;
}
.name {
    padding: 0.4em;
    margin: 0;

    font-size: 5em;
    text-align: center;
    background-color: #FA9314;
    color: white;
    text-shadow: 3px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;

    animation: fade-in 1s ease-in;
}
.picture {
    width: 100%;
    border-bottom: #FA9314 4px solid;
    box-shadow: 5px 5px 10px;
}
.pictureContainer {
    margin: 2%;
}
.main {
    display: flex;
    align-items: center;
    background-color: white;
    animation: fade-in 2s ease-in;
}
.myMusic {
    width: 100%;
    text-align: center;

    font-size: 280%;
    font-weight: 800;
    color: white;
}
.rightColumn {
    margin: 1em;

}
.socialSection {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
    background-color: white;
    padding: 2%;
}
.socialMediaTitle {
    width: 100%;
    text-align: center;
    font-size: 280%;
    font-weight: 800;
}
.socialMediaContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.songSection {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 1%;
    background-color: rgb(27, 27, 27);
}
@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
