.search {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    padding: 2em;
    justify-items: center;
}
  
.searchInput {
      width: 50%;
      padding: 1em;
      margin: 1em;     
  }
.searchInput:focus, .search select:hover{
  outline: none ;
  border:1px solid #ee752b;
  box-shadow: 0 0 5px #ee752b;
}
  
.searchInput:hover, .search select:hover {
  outline: none ;
  border:1px solid #ee752b;
  box-shadow: 0 0 5px #ee752b;
}
  
button {
      width: 200px;
      padding: 1em;
      cursor: pointer;
      &:hover {
      background-color: grey;
      transition: all .5s ease;
      }
}



.search select {

  height: 29px;
  overflow: hidden;
  width: 240px;
}







