
.profile {
  background-image: url("../../assets/microphone-2130806_1920.jpg");
  height: 100vh;
}

h2 {
  color: white;
  text-align: center;
  padding: 2em;
}

.input {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 2em;
}

.select {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
}

.description {
  width: 300px;
  height: 200px;
}

