.artistListSection {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  text-align: center;
}

.artistList {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: center;
  padding: 2em;
  
  li {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
  }

  img {
    width: 300px;
    height: 300px;
    opacity: 1;
    &:hover {
      animation: flash 1.5s;
    }
  }

    @-webkit-keyframes flash {
      0% {
        opacity: .4;
      }
      100% {
        opacity: 1;
      }
    }
    
    @keyframes flash {
      0% {
        opacity: .4;
      }
      100% {
        opacity: 1;
      }
    }
}
