.artistListSection {
  font-family: 'Montserrat', sans-serif;
  background-color: black;
}

h1 {
  text-align: center;
}

.link img{
  border: solid #f67e2e 1px;
}

.artistList {
  max-width: 1200px;
  margin-bottom: 0;
  margin-top: 0;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: center;
  padding: 2em;
  
  li {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
  }
    
  .link {
    text-decoration: none;
    color: black;

    &:hover {
      color: #fbae40;
    }
  }

  img {
    width: 300px;
    height: 300px;
    opacity: 1;
    &:hover {
      animation: flash 1.5s;
    }
  }

    @-webkit-keyframes flash {
      0% {
        opacity: .4;
      }
      100% {
        opacity: 1;
      }
    }
    
    @keyframes flash {
      0% {
        opacity: .4;
      }
      100% {
        opacity: 1;
      }
    }
}